<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="footer">
<body>
<div id="footer-sec">
    &copy; 2018 考试报名及考务管理系统 | By钟瑞清</a>
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="/erems/res/assets/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="/erems/res/assets/js/bootstrap.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="/erems/res/assets/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="/erems/res/assets/js/custom.js"></script>
<!--Time Picker-->
<script src="/erems/res/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<script src="/erems/res/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.fr.js"></script>

</body>
</html>
