<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="footer">
<body>
<div id="footer-sec">
    &copy; 2014 YourCompany | More Templates <a href="admin/http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="admin/http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="admin/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="admin/js/bootstrap.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="admin/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="admin/js/custom.js"></script>

</body>
</html>
