<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <div class="row form-box">
        <div class="col-sm-offset-3 col-sm-6">
        <form role="form">
            <div class="form-group">
                <label class="sr-only" for="username">用户名</label>
                <input type="text" class="form-control" id="username" placeholder="请输入名称">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">密码</label>
                <input type="text" class="form-control" id="password" placeholder="请输入密码">
            </div>
            <button type="submit" class="btn btn-primary">登录</button>
        </form>
        </div>
    </div>
</div>

<script src="js/jquery-1.11.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>