<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('支付页面')"></div>
<body>
<div id="wrapper" class="row">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-9  col-md-offset-3">
                <img src="/erems/res/img/erems_pay.png"/>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-9  col-md-offset-3">
                <button class="btn btn-primary">
                    <a th:href="'/erems/examinee/pay'" style="color:white;">支付</a>
                </button>
            </div>
        </div>
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>
</body>
</html>