<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('个人主页')"></div>
<body>
<div id="wrapper" class="row" th:object="${currentExam}">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line" th:text="*{name}"></h1>
        </div>
    </div>
    <!-- /. ROW  -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    考试须知
                </div>
                <div class="panel-body">
                    <th:block th:text="*{description}"></th:block>
                    一、考试开始前15分钟考生凭学生证和有效身份证件（身份证等）进入规定考场对号入座，并将有效证件放在考桌左上角，以便监考人员查验。考试开始指令发出后，考生才能开始答卷。
                    二、考生进入考场必须关闭各种通讯工具。
                    参加闭卷考试考生在入场时除携带必要的...
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary">
                        <a th:href="'/erems/examinee/confirmInfo'" style="color:white;">了解，并参加</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /. ROW  -->
</div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>
</body>
</html>